//Animation

@mixin morrow-animated {
  @include animation-duration(.5s);
  @include animation-fill-mode(both);
  @include animation-name(fade-up);
  @include transition-timing-function($ease-in-out-quart);
}

@include keyframes(fade-up) {
  from {
    opacity: 0;
    @include transform(translate3d(0, 100%, 0));
  }

  to {
    opacity: 1;
    @include transform(none);
  }
}

@keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    @include transform(scale(.8));
  }
  100% {
    opacity: 1;
    @include transform(scale(1));
  }
}
