<section class="hero">

  <div class="wrapper">
    <header>
      <h1 class="logo" id="site-id">m<span>o</span>rrow</h1>
      <h4>make your mark.</h4>
    </header>

    <div class="morrow-anim">

      <div class="msg to">
        What do you need to work on?
      </div>

      <div class="msg from">
        I need to start x project.
      </div>

      <div class="msg to">
        Ok, let's get started!
      </div>

      <div class="msg project">
        <span class="project-tab">
          <span></span>
        </span>
        This is an awesome project for you.
        <small>Due at 5:00 PM tomorrow</small>
        <small>0% completed</small>

      </div>
    </div>
  </div>

</section>

<section class="sign-up">

  <div class="wrapper">
    <form action="#">
      <header>
        <h2>Work smarter with Morrow’s help.</h2>
        <h4>Get started for free now.</h4>
      </header>
      <input type="email" placeholder="Your e-mail address">
      <button type="submit">Sign up for the beta</button>
    </form>
  </div>

</section>

<section class="values">

  <div class="wrapper">
    <div class="props">

      <div class="purple">
        <span class="icon-work">
          <span></span>
        </span>
        <p>Get hard work done.</p>
      </div>

      <div class="orange">
        <span class="icon-burnout">
          <span></span>
        </span>
        <p>Beat burnout. Forever.</p>
      </div>

      <div class="blue">
        <span class="icon-productive">
          <span></span>
        </span>
        <p>Stay productive longer.</p>
      </div>

    </div>
  </div>

</section>

<section class="testimonial">

  <div class="wrapper">
    <blockquote>
      <div class="avatar">
        <img src="/images/testimonials/matt@2x.png" alt="Matt loves Morrow." width="118px" height="118px">
      </div>
      <div class="quote">
        <p>Morrow is helping me do all the stuff I don't want to do as quickly as possible &mdash; with as little anxiety as possible.</p>
        <cite>Matt, Lawyer</cite>
      </div>
    </blockquote>
  </div>

</section>

<footer>
  <div class="wrapper">
    <ul>
      <li><a href="mailto:morrow@morrow.co" target="_blank">contact</a></li>
      <li><a href="https://twitter.com/morrow" target="_blank">@morrow on twitter</a></li>
    </ul>
  </div>
</footer>
